[Unit]
Description=Restore ALSA Mixer Settings
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/alsactl restore -f /etc/asound.state

[Install]
WantedBy=multi-user.target