[Unit]
Description=CamillaDSP Audio Processing
After=sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/camilladsp -s /var/camilladsp/statefile.yml -p 1234
WorkingDirectory=/var/camilladsp
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target